body {
  background-color: powderblue;
  h1{
   text-align: center;
  }
  h2{
    text-align: center;
  }
  p{
    border: 1px solid blue;
  }
  img.resize{
    max-width:80%;
    max-length:80%;
  }
}
